$white: #fff;
$black: #000;
$black_9E: #9E9E9E;
$black_55: #555555;
$blue: #2c7be5;
$black_33: #333333;
$red: #FC544B;
$blue_00: #0073AA;
$red: #FC544B;
$yellow_F5: #F5C046;
$green_20: #2094AC;

// Border color
$border_color_EB: #EBEBEB;

// Font weight variables
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;
