// Font Variables
$lato: 'Lato';

//color
$white: #FFFFFF;
$black: #000;
$grey: #fbfafa;

// // Font weight variables
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$bolder: 800;
$extra_bold: 900;
