@import "./variables.scss";
@import "./mixins.scss";
.main-navbar-wrapper .top-navbar .brand-nav {
    visibility: visible;
}
.main-navbar-wrapper .top-navbar {
    background-color: $white;
    box-shadow: 0 1px 3px rgb(51 65 80 / 8%);
}
.main-container {
    margin-top: 80px;
    background-color:#ebf0f4;
    .terms-wrapper {
        margin: 20px 0 200px;
        padding: 30px;
        background-color: rgb(255, 255, 255);
        .terms-single-item {
           h3 {
                font-size: 24px;
                line-height: 26px;
                font-weight: 600;
                color: #056998;
                margin: 0 0 20px;
            }
            h4 {
                color: rgb(28, 60, 107);
                font-size: 20px;
                line-height: 30px;
                font-weight: 600;
                font-family: Gilroy;
                margin: 0px;
            }
            p {
                color: rgb(34, 41, 47);
                font-size: 14px;
                line-height: 24px;
                font-weight: 400;
                margin-bottom: 0.45rem;
                text-align: left;
            }
        }
    }
}

@media only screen and (max-width: 768px) {

}
